[run]
branch = True
source = estimators
omit = estimators/tests/*

[report]
skip_covered = True
omit = estimators/tests/*,estimators/hashing.py 

[html]
directory = coverage_html

[paths]
django18 =
    .tox/py340-django18/lib/python3.4
    .tox/py340-django18/lib/python3.4
    .tox/py340-django110/lib/python3.4

django19 =
    .tox/py351-django18/lib/python3.5
    .tox/py351-django19/lib/python3.5
    .tox/py351-django110/lib/python3.5
