[run]
branch = True
source = estimators
omit = estimators/tests/*

[report]
show_missing = True
skip_covered = True
omit = estimators/tests/*,estimators/hashing.py 

[html]
directory = coverage_html

[paths]
django_19 =
    .tox/py34-django-18/lib/python3.4
    .tox/py35-django-18/lib/python3.5

django_18 =
    .tox/py34-django-19/lib/python3.4
    .tox/py35-django-19/lib/python3.5
